<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    
    <ul class="nav menu">
        <!-- TODO handle active tag issue -->
        <li class="active"><a href="/"><em class="fa fa-dashboard">&nbsp;</em> Dashboard</a></li>
        <li><a href="/stat"><em class="fa fa-bar-chart">&nbsp;</em> Statistics</a></li>
        <li><a href="/inventory"><em class="fa fa-calendar">&nbsp;</em> Book Management</a></li>
        <li><a href="/session_man"><em class="fa fa-toggle-off">&nbsp;</em> Session Management</a></li>
    </ul>
</div>
<!--/.sidebar-->